<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <div class="bg-white dark:bg-gray-900 p-6 rounded-xl w-105 max-w-full">

    <h2 class="text-xl font-bold mb-4">Editar Perfil</h2>

    <form [formGroup]="form" class="flex flex-col gap-4">

      <input class="input" type="text" placeholder="Nombre de usuario" formControlName="nombre_usuario">

      <input class="input" type="email" placeholder="Correo" formControlName="email_usuario">

      <input class="input" type="text" placeholder="Nombre real" formControlName="nombre_real">

      <input class="input" type="text" placeholder="Apellido" formControlName="apellido_usuario">
      @if(esElUsuario){
      <input class="input" type="password" placeholder="Contraseña Actual" formControlName="password_actual">

      <input class="input" type="password" placeholder="Nueva Contraseña" formControlName="password_nueva">

      <input class="input" type="password" placeholder="Confirmar Nueva Contraseña"
        formControlName="password_nueva_confirmacion">}

      @if (feedback()) {
      <p class="text-sm text-emerald-600">{{ feedback() }}</p>
      }

      <div class="flex justify-end gap-3 mt-4">
        <button type="button" class="btn-secondary" (click)="cerrar.emit()">
          Cancelar
        </button>

        <button type="button" class="btn-primary" (click)="guardar()" [disabled]="cargando()">
          Guardar
        </button>
      </div>
    </form>

  </div>
</div>