<button type="button" aria-label="Abrir modal para añadir libro a lista"
  class="$$btn flex min-w-21 w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg max-h-12 px-5 py-1 flex-1 bg-primary text-blanco-puro text-base font-bold leading-normal tracking-[0.015em] hover:bg-primary/90 transition-colors"
  (click)="openModal()">Editar Libros</button>
<dialog #modalRef class="$$modal modal-evento-libros" (click)="$event.stopPropagation(); $event.preventDefault()">
  <div class="$$modal-box">
    <div class="$$modal-action px-4 py-4 flex flex-col items-center gap-4">
      <form novalidate method="dialog" class="flex flex-col items-center gap-4">
        <fieldset class="w-full flex flex-col items-center gap-4">
          @if (cargandoLibros()) {
          <div>Cargando libros relacionados...</div>
          }
          @if (errorLibros()) {
          <div class="text-error">{{errorLibros()}}</div>
          }
          @if (feedback() && !errorLibros()) {
          <div class="text-success">{{feedback()}}</div>
          }
          @if (!cargandoLibros() && librosResto().length) {
          <ul class="w-full flex flex-col gap-2 items-center">
            @for (libro of librosEvento(); track libro.id_libro) {
            <li id="{{ libro.id_libro }}"
              class="cursor-pointer w-full flex items-center justify-between gap-2 rounded-lg border border-primary px-4 py-2 hover:bg-primary/10 transition-colors"
              (click)="toggleLibroEventoOUT(libro.id_libro)" [class.cursor-not-allowed]="loadingAccion()">
              <span>{{libro.titulo_libro}}</span>
              <span class="material-symbols-outlined">remove</span>
            </li>
            }
          </ul>
          <hr class="w-full border-t border-gray-300 my-4" />
          <ul class="w-full flex flex-col gap-2 items-center">
            @for (libro of librosResto(); track libro.id_libro) {
            <li id="{{ libro.id_libro }}"
              class="cursor-pointer w-full flex items-center justify-between gap-2 rounded-lg border border-primary px-4 py-2 hover:bg-primary/10 transition-colors"
              (click)="toggleLibroEventoIN(libro.id_libro)" [class.cursor-not-allowed]="loadingAccion()">
              <span>{{libro.titulo_libro}}</span>
              <span class="material-symbols-outlined">add</span>
            </li>
            }
          </ul>
          }
        </fieldset>
        <button class="$$btn btn-primary w-full" type="button" (click)="guardarCambios(); $event.preventDefault();"
          [disabled]="loadingAccion()">
          {{ loadingAccion() ? 'Guardando...' : 'Guardar cambios' }}
        </button>
        <button class="$$btn mt-2 btn btn-secondary" type="button" (click)="closeModal()"
          [disabled]="loadingAccion()">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>