<a class="text-secondary text-sm font-medium leading-normal hover:text-primary transition-colors"
  routerLink="/catalogos/libros" routerLinkActive="!text-accent" [routerLinkActiveOptions]="{ exact: true }">
  Catálogo
</a>
<a class="text-secondary text-sm font-medium leading-normal hover:text-primary transition-colors"
  routerLink="/catalogos/listas" routerLinkActive="!text-accent" [routerLinkActiveOptions]="{ exact: true }">
  Listas
</a>
<a class="text-secondary text-sm font-medium leading-normal hover:text-primary transition-colors"
  routerLink="/catalogos/eventos" routerLinkActive="!text-accent" [routerLinkActiveOptions]="{ exact: true }">
  Eventos
</a>