<div class="sticky top-24 flex flex-col gap-6">
  <!-- ProfileHeader -->
  <div
    class="flex flex-col gap-4 items-center rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
    <img class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
      alt="Avatar de usuario {{usuario().nombre_usuario || 'Usuario'}}" src={{usuario().avatarUrl}} />

    <div class="flex flex-col justify-center">
      <p class="text-[22px] font-bold leading-tight tracking-[-0.015em] text-gray-900 dark:text-white">
        {{usuario().nombre_usuario || 'Nombre no especificado'}}</p>
      <p class="text-base font-normal leading-normal text-gray-600 dark:text-gray-400">
        {{usuario().email_usuario || 'Correo no especificado'}}</p>
      <p class="text-sm font-normal leading-normal text-gray-500 dark:text-gray-500">
        {{usuario().fecha_registro_usuario | tiempoRelativo}}</p>
    </div>
    @if(puedeEditar) {
    <button (click)="emitirEditar()"
      class="flex h-10 w-full min-w-21 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-gray-100 px-4 text-sm font-bold leading-normal tracking-[0.015em] text-gray-800 hover:bg-gray-200/80 dark:bg-white/5 dark:text-white dark:hover:bg-white/10">
      <span class="truncate">Editar Perfil</span>
    </button>
    @if(idPerfil() !== 1){
    <button (click)="borrarPerfil()"
      class="flex h-10 w-full min-w-21 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-red-600 px-4 text-sm font-bold leading-normal tracking-[0.015em] text-white hover:bg-red-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 active:bg-red-800 transition-colors">
      <span>Borrar Perfil</span>
    </button>}
    }
  </div>
  <!-- ProfileStats -->
  <div class="flex flex-wrap gap-3">
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Libros Leídos</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().librosLeidos?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Libros Pendientes</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().librosPendientes?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Eventos Creados</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().eventosCreados?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Eventos Asistidos</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().eventosAsistidos?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Listas Creadas</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().listasCreadas?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Listas Seguidas</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().listasSeguidas?.length || 0}}</p>
    </div>
    <div class="flex min-w-27.75 flex-1 flex-col gap-1 text-center
        rounded-xl border border-gray-200/80 bg-background-light p-4 dark:border-white/10 dark:bg-white/5">
      <p class="text-sm font-normal leading-normal 
        text-emerald-600">Reseñas Escritas</p>
      <p class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        {{usuario().criticas?.length || 0}}</p>
    </div>
  </div>

  @if(esAdm) {
  <div
    class="flex flex-col gap-4 items-center bg-background-element p-4 rounded-xl border border-gray-200/80 dark:border-white/10 dark:bg-white/5">
    <p class="text-lg font-bold leading-normal text-gray-900 dark:text-white">
      Zona de Administración
    </p>
    <input #idInput type="number" placeholder="ID del Perfil a Ver"
      class="w-full rounded-lg border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary/50" />
    <button class="flex min-w-21 max-w-120 w-full items-center justify-center overflow-hidden rounded-lg h-10 px-4 
        bg-btn-primary text-primary text-sm font-bold leading-normal tracking-[0.015em] 
        hover:bg-btn-primary-hover focus-visible:outline-none focus-visible:ring-2 
        focus-visible:ring-btn-primary-focus active:bg-btn-primary-pressed transition-colors"
      (click)="cambiarUsuario(idInput.value)">
      Ir a Perfil
    </button>
  </div>
  }
</div>