<div class="flex px-2 w-full max-h-fit">
    <div class="relative flex w-full items-center">
        <span class="material-symbols-outlined absolute left-4 text-text-secondary cursor-pointer" (click)="buscar()"
            (pointerenter)="buscar()" (search)="buscar()">search</span>
        <input class="w-full h-10 rounded-lg bg-blanco-puro/85 border border-bordes-primary pl-10 lg:pl-20 pr-4
                text-text-secondary placeholder:text-text-primary 
                focus:border-accent focus:ring-1 focus:ring-accent focus:outline-none"
            placeholder="Buscar por título ..." type="search" [value]="termino()" (input)="actualizarTermino($event)"
            (keydown.enter)="buscar()" />
    </div>
</div>